@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0
}

nav {
    display: flex;
    padding: 24px 160px 24px 160px;
    align-items: center;
    justify-content: space-between;
}

.nav-btn {
    padding: 15px 30px;
    color: rgb(0, 106, 80);
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    background-color: white;

}

.banner {
    margin: 20px 160px 80px 160px;
    padding: 80px 100px 80px 60px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    display: flex;
    justify-content: space-between;
}

.banner-content {
    margin-top: 37px;
}

.banner-heading {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}

.banner-main-text {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
}

.banner-btn {
    padding: 17px 34px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: white;
    border: 0;
}

.pillar {
    margin: 80px 160px 80px 160px;
}

.pillar-heading {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
}

.pillar-card-container,
.vision-card-container {
    display: flex;
    justify-content: space-between;
}

.pillar-card {
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-right: 24px;
}

.pillar-card-heading {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 13.34px;
    margin-bottom: 12px;
}

.pillar-card-content {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.vision {
    margin: 80px 160px 80px 160px;
}

.vision-heading {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
}

.vision-text {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
}

.vision-card-1 {
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    margin-right: 24px;
}

.vision-btn-1 {
    margin-top: 24px;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding: 19px 16px;
    border: 0;
}

.vision-card-2 {
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    margin-right: 24px;
}

.vision-btn-2 {
    margin-top: 24px;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding: 19px 16px;
    border: 0;
}

.vision-card-3 {
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
}

.vision-btn-3 {
    margin-top: 24px;
    border-radius: 8px;
    background: rgb(255, 194, 57);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding: 19px 16px;
    border: 0;
}

.quote {
    margin-top: 32px;
    padding: 48px 24px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 24px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;

}

.q-content-1 {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 12px;
}

.q-content-2 {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 4px;
}

.q-content-3 {
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.opinion {
    margin-top: 80px;
}

.questions {
    padding: 32px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1);
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td {
    padding: 24px;
}

.table-header {
    padding: 24px;
    background: rgb(198, 228, 214);
}

.table-header-content {
    display: flex;
    justify-content: space-between;
}

.wide {
    width: 89%;
}

.narrow {
    width: 11%;
}

.options {
    padding: 10px 14px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgb(198, 228, 214);
}

.recent-news {
    margin: 0px 160px 80px 160px;
}

.news-card-1 {
    padding: 48px;
    display: flex;
    margin-bottom: 24px;
    border-radius: 24px;
    border: 1px solid lightgray;
    background: white;
}

.img-border {
    border-radius: 24px;
}

.right-content {
    margin-left: 32px;
}

.icon-title {
    display: flex;
}

.news-btn,
.donate-btn {
    margin-top: 32px;
    padding: 13px 26px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: white;
    border: 0
}

.donate-heading {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.donate-content {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 32px;
}

.donate-card-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    margin-left: 20px;
    margin-right: 20px;
}

.donate-card {
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.taka {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.text-box {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    /* background: rgb(255, 255, 255); */
    padding: 20px 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.text-box-text {
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-align: center;
}

.donate-position {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 31.5px;
}

.footer {
    padding: 50px 160px;
}

.footer-text {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 31.5px;
}

.stroke {
    border: 1px solid rgba(14, 14, 14, 0.1);

}

.network-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
}

.subscribe {
    padding: 80px 100px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}

.subscribe-heading {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}

.subscribe-content {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.input-container {
    display: flex;
    margin-bottom: 24px;
}

.input-container input {
    border: 1px solid #ccc;
    border-right: none;
    flex: 1;
    outline: none;
    border-radius: 8px 0px 0px 8px;
    padding: 18px 40px 18px 40px;
    background: rgb(255, 255, 255);
}

.input-container button {
    border: 1px solid #ccc;
    border-left: none;
    color: white;
    padding: 17px 34px;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
}

.subscribe-last-content {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}